# Firebase Configuration
# You can choose which project to use by setting VITE_FIREBASE_PROJECT
# Valid values are: "vfsadmin" (production) or "vfsadmin-dev" (development)
VITE_FIREBASE_PROJECT=vfsadmin-dev

# Alternatively, you can directly specify all Firebase config values
# If these values are provided, they will override the hardcoded configs
VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
VITE_FIREBASE_APP_ID=your_app_id
VITE_FIREBASE_MEASUREMENT_ID=your_measurement_id
